{% extends 'base_generic.html' %}

{% block content %}
<div style="margin:0 auto;text-align:left">
      <!-- Div align in the middle -->

	  <div class="col-sm-8">
      <div style="margin-left:auto;margin-right:auto;text-align:left">

			<!-- Form --> 
			<div class="panel panel-default">
				<div class="panel-heading">
         <p><h3 class="panel-title"> Password succesfully resetted</h3></p>
        </div>
            <div class="panel-body">
              <p>Your password has been reset. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
              </p>
            </div>   
      </div>
  
{% endblock %}
