<!DOCTYPE html>
{% extends "base_generic.html" %}
{% load static %}


      <!-- thisis the bit that extends the base_generic html thing -->

{% block content %}
<div class="row">

<div class="col-sm-6 col-md-offset-3">
<div style="margin:0 auto;text-align:center">
      <!-- Div align in the middle -->
      <div style="margin-left:auto;margin-right:auto;text-align:center">
       
<h1>NeXT-Grenoble</h1>

<hr  align="left" size="2" color = 'black'>


<p>NeXT-Grenoble (<b>Ne</b>utron and <b>X</b>-ray <b>T</b>omography in Grenoble) was born in 2016 from the collaboration between the <a href="https://www.ill.eu/" >ILL</a> , world-leading institution in neutron-based techniques (also thanks to its flux, the most intense in the world with its 1.5E15 neutrons per second per cm2, with a thermal power of 58.3 MW) and <a href="https://www.3sr-grenoble.fr/?lang=en" >Laboratoire 3SR</a>, leading center in the experimental investigation of porous media and geomaterials.</p>
<p> The idea underlying this project is to take advantage of the uniquely powerful neutron flux offered by ILL and of the high complementarity of x-ray and neutrons to build a novel imaging instrument focused on material sciences.</p>  
<p>   </p>
  		<p><img class="img-responsive" src="{% static "home/images/home1.png" %} "alt="" height="800" width="620"></p>

      </div>  
</div>  
   
{% endblock %}   








