<!DOCTYPE html>
{% extends "base_generic.html" %}

{% load static %}


      <!-- thisis the bit that extends the base_generic html thing -->

{% block content %}

<div style="margin:0 auto;text-align:center">
      <!-- Div align in the middle -->
      <div style="margin-left:auto;margin-right:auto;text-align:center">
        
          <h1>The proposal round will open on the 31st of July</h1>
          <p>For any information, please contact <a href="mailto:contact@next-grenoble.fr?subject=mailinglist">contact@next-grenoble.fr</a> </p>
  
      </div>  
</div>  
   
{% endblock %}       


