<!DOCTYPE html>
{% extends "base_generic.html" %}

{% load static %}


      <!-- thisis the bit that extends the base_generic html thing -->

{% block content %}

<div style="margin:0 auto;text-align:center">
      <!-- Div align in the middle -->
      <div style="margin-left:auto;margin-right:auto;text-align:left">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title"><span class="glyphicon glyphicon-calendar"></span> Deadline: 31st September 2017</h2>
				</div>

				<div class="panel-body">
					<h1>Submission procedure: </h1>
<BR />
          <p><b>Documents to submit </b>
          <li>A short (maximum 2 pages) description of the scientific rationale of the proposal and of the proposed experimental campaign  </li>
					<li>To help us assess the technical feasibility of the proposal the following form must also be completed and submitted </li>
          </p>
          <p> <a href=" ../downloadform" class="btn btn-default">Download form</a></p>
 <BR />
          
          <p><b>Deadlines: </b></p>
          <p> The proposal reound will open on the <b>31st of July 2017</b> and close on the <b>31st op September 2017</b> </p>
<BR />
  
          <p><b>How to submit: </b></p>
          <p>Submit your proposals here!
          </p><a href="../proposalsubmission" class="btn btn-default">Submit a proposal</a></p>
<BR />          
          <p><b>Any question? </b></p>
          For any information please contact <a href="mailto:contact@next-grenoble.fr?subject=mailinglist">contact@next-grenoble.fr</a>

 <BR />         
				</div>
			</div>
  
      </div>  
</div>  
   
{% endblock %}       









