{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Edit your user profile information{% endblock %}

{% block content %}

<div style="margin: auto ;text-align:center">

  <p>You should have received an email at the address you gave us. Please confirm your email address to complete the registration. </p>
  <p>If you haven't received the email in the next few minutes, please check your spam folder</p>
  <p> for any problem contact <a href="mailto:contact@next-grenoble.fr">contact@next-grenoble.fr</a></p>
</div>  
{% endblock %}
