{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Please register to access some private parts of the website{% endblock %}

{% block content %}

<div style="margin:0 auto;text-align:center">
      <!-- Div align in the middle -->

	  <div class="col-sm-8">
      <div style="margin-left:auto;margin-right:auto;text-align:left">
      <p>To submit a proposal, please upload the rational and the technical addendum and provide a title before uploading </p>

			<!-- Form --> 
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-circle-arrow-up"></span>
						Submit proposal
					</h3>
				</div>   
        
        <div class="panel-body">
            <div id="submit">

<!--
              this is actually redirectig to the login page (action="/login/") and (I think) posting the csrf_tokens below, the page also irectly submits the stuff and redirects you to the home page . it's all bases on the default view, I believe
-->
 <form class="form-horizontal"method="post" enctype="multipart/form-data">{% csrf_token %}
    <fieldset>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
<!--
                    <label class="control-label">{{ field.label }}</label> 
-->
                    <div class="controls">{{ field }}
                        <span class="help-inline">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
<form class="form-horizontal">
  <div class="control-group">
                    <div class="controls">{{ field }}
</div>

<!--
                    <input type="text" class="form-control"  id="username" name="username"  placeholder="Username">
-->

                        {% if field.help_text %}
                            <p class="help-inline"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="controls">
        <button type="submit" class="btn btn-default" >Upload</button>
    </div>
</form>





<!--
              <form method="post" enctype="multipart/form-data">

                  {% csrf_token %}
                  {{ form.as_p }}
                  
                  
                  <p>
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    
                    
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
-->
                    

<!--
                    <div class="form-group">
                      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
-->
                
                    </div>
                    </div>
                    </div>
                                        <p><a href="{% url 'home' %}" class="btn btn-default">Return to home</a></p>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						Attention
					</h3>
				</div>   
        
        <div class="panel-body">

                    <p>Please note that this proposal will be recorded with <b>"{{ user.get_username }}"</b> as corresponding author, and the email <b>"{{ request.user.email }}"</b> will be used for all correspondance. If this email is not longer valid, make sure to <a href="{% url 'update_profile' %}">update your user profile</a> </p>
              
              
<!--
              {% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}
              
              </form>
              
-->

            </div>  
        </div>
        </div>
    </div>
    </div>
    </div>
  
{% endblock %}






<!--

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Upload</button>
  </form>
  <p>Please note that this proposal will be recorded with <b></>"{{ user.get_username }}" as corresponding author, and the email "{{ request.user.email }}" will be used for all correspondance. If this email is not longer valid, make sure to <a href="{% url 'update_profile' %}">update your user profile</a> </p>

  <p><a href="{% url 'home' %}">Return to home</a></p>
-->


