<!DOCTYPE html>
{% extends "base_generic.html" %}

{% load static %}


      <!-- thisis the bit that extends the base_generic html thing -->

{% block content %}

<div style="margin:0 auto;text-align:center">
      <!-- Div align in the middle -->
      <div style="margin-left:auto;margin-right:auto;text-align:center">
          {% if latest_proposal.has_passed %}
          
              <h1>The proposal round has closed, as scheduled, on {{ latest_proposal.end_date|date:"M d, Y" }} </h1>
              {% if latest_proposal.has_committee_met == 'future' %}
                <p> The Scientific and Steering Committes will meet on {{ latest_proposal.committe_meeting|date:"M d, Y" }}. You should expect news about your proposal in the following days.</p>
                    <p>In the meanwhile you can check your profile here:</p>
                    <p><a href="{% url 'user_status' %}" class="btn btn-default">My NeXT profile</a></p>

              {% endif %}
              
              {% if latest_proposal.has_committee_met == 'past' %}
                <p>The Scientific and Steering committes have met on the {{ latest_proposal.committe_meeting|date:"M d, Y" }}; you should find their response about your proposal at the link below  if you passed through the NeXT online proposal system (please give us a few days to upload all the information).</p> 
                
                                <p><a href="{% url 'user_status' %}" class="btn btn-default">My NeXT profile</a></p>

                <p>Otherwise you should receive an email at the address(es) provided. </p>

              {% endif %}
              
              {% if latest_proposal.has_committee_met == 'unknown' %}
                <p>The date of the meeting of the Scientific and Steering Committees has not been established yet.</p>
              {% endif %}
              <p></p>
                  
          {% else %}
              <h1>The proposal submission round will open on {{ latest_proposal.end_date|date:"M d, Y" }} </h1>
              

          {% endif %}
          <hr>
              <p>For any information, please contact <a href="mailto:contact@next-grenoble.fr?subject=mailinglist">contact@next-grenoble.fr</a> </p>

          
          
      </div>  
</div>  
   
{% endblock %}       
