{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Please register to access some private parts of the website{% endblock %}

{% block content %}


<div style="margin-left:17px ;text-align:left">

<h5>Please register to access some private parts of the website* </h5>
</div>

<div style="margin:0 auto;text-align:center">
      <!-- Div align in the middle -->

	  <div class="col-sm-10">
      <div style="margin-left:auto;margin-right:auto;text-align:left">

			<!-- Form --> 
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-log-in"></span>
						Sign up
					</h3>
				</div>   
        
        <div class="panel-body">
            <div id="login">
            {% csrf_token %}

<!--
              this is actually redirectig to the login page (action="/login/") and (I think) posting the csrf_tokens below, the page also irectly submits the stuff and redirects you to the home page . it's all bases on the default view, I believe
-->
              <form   method="post">
                {% csrf_token %}
                
                {% for field in form %}
                  {%if field.name != 'committe_member_verification' and  field.name != 'collaborator_verification' and field.name != 'notes_status'%}
                    <p>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                      {% endif %}
                    {% endif %}
                      
                      
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                {% endfor %}
                
                  <hr>
                  <h4>Special rights</h4>

                  {% for field in form %}
                  {%if field.name == 'committe_member_verification' or  field.name == 'collaborator_verification' or field.name == 'notes_status'%}
                    <p>
                      {{ field.label_tag }}<br>
                      {{ field }}
                      {% if field.help_text %}
                        <small style="color: grey">{{ field.help_text }}</small>
                      {% endif %}
                    {% endif %}
                      
                      
                      {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                      {% endfor %}
                    </p>
                {% endfor %}
                
                
                  
<!--
                    <div class="form-group">
                      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
-->
                    <hr>
                  <div class="controls">
                    <p><button class="btn btn-default" type="submit">Sign up</button>  </p>                
                    </div>
                    <p><span style="color: #a9a9a9"><i>*Please note that the provided information will not be diffused or used for commercial purposes.</i></span></p>
              </form>
            </div>  
        </div>
        </div>
    </div>
    </div>
    </div>
  
{% endblock %}







<!--
minimal working example
-->

<!--
-----------{ block content %}
-->
<!--
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  
  
{ endblock %}
-->

