<!DOCTYPE html>
{% load static %}
<html>
	<head>
		
		<!-- Website Title & Description for Search Engine purposes -->
		<title>NEXT-grenoble</title>
		<meta name="NEXT Grenoble" content="NEutron and X-ray Imaging in Grenoble "/>
		
		<!-- Mobile viewport optimized -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		
		<!-- Bootstrap CSS -->
		<link href='static/bootstrap/css/bootstrap.min.css' rel="stylesheet" />
		<link href='static/includes/css/bootstrap-glyphicons.css' rel="stylesheet" />
	    <link href='static/includes/css/custom.css' rel="stylesheet" />
		
		
	</head>


</html>			
    <body>

        <div class="navbar navbar-fixed-top" style="background:#666666">
			  <div class="container-fluid">
              <div class="navbar-header">
              <a class="navbar-brand" href=""./workinprogress/logo"">
              <img alt="Brand" <img src="{% static "home/images/logo.png" %}" , style="height:20px">
              </a>
              </div>
       </div>
       

			<div class="container">
					
						<!--nav bar collapse button starts-->
					    
						<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
					    <button class="navbar-toggle" data-target=".navbar-responsive-collapse" data-toggle="collapse" type="button">
							<!--These three icon bars are the three lines on the toggle button-->
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
						    <span class="icon-bar"></span>
					    </button>
						
						<!--nav bar collapse button ends-->
					
					<!-- nav-collapse begins -->
					
					<div class="nav-collapse collapse navbar-responsive-collapse">
						
						<!-- nav bar item begins -->
						<ul class="nav navbar-nav">
							<li>
								<a href="#" style="color:#fff;font-weight:bold;border-right:1px solid #fff;border-left:1px solid #ddd;">Home</a>
							</li>
							
                            <li>
								<a href="./workinprogress/about" style="color:#fff;font-weight:bold;border-right:1px solid #fff;">About</a>
							</li>
							
							
						</ul>
						
						<!-- nav bar item ends -->
						
						<!-- Search Form Begins -->
						
						    <!-- Collect the nav links, forms, and other content for toggling -->
  </div><!-- /.container-fluid -->
  

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->

  
  
  
						
						<form class="navbar-form pull-right searchPart" method="POST">
							<input type="text" name="search_name" class="form-control" placeholder="Search this site..." id="searchInput" style="width:200px"/>
							<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
						</form><!-- end navbar-form -->
						
						<!-- Search Form Ends -->
						
					</div><!--nav-collapse ends-->
				
				</div><!-- end container -->
			</div><!-- end navbar -->
        </div><!--end container-->
    <!-- Navigation -->
    
            
     <span style="font-size:60px; padding-left:30px; background:white;">&nbsp;</span>    
    
         
     
     <div class="container-fluid">

		<!-- Left Column -->
		<div class="col-sm-3">

			<!-- List-Group Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span> What is NEXT-Grenoble?</h1>
				</div>
				<div class="list-group">
					<a href="./workinprogress/404" class="list-group-item">Neutron and X-Ray imaging</a>
					<a href="#" class="list-group-item">Our instrument: D50</a>
					<a href="#" class="list-group-item">Some of our results</a>

				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 class="panel-title"><span class="glyphicon glyphicon-envelope"></span> Any question? Contact us!</h1>
				</div>

				<div class="panel-body">
					<p>We are open to external proposals. </p>
					<p><a href="./workinprogress/404" class="btn btn-default">Contact us</a></p>
					<p><a href="./workinprogress/404" class="btn btn-default">Proposal guidelines</a></p>
				</div>
			</div>

			<!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-bullhorn"></span> 
						Keep in touch!
					</h3>
				</div>
				<div class="panel-body">
					<p>Want to receive the latest news?</p>
					<div class="btn-group" role="group">
						<a href="https://twitter.com/TwitterDev" class="twitter-follow-button" data-show-count="false">Follow @TwitterDev</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						<a href="mailto:email@echoecho.com">Send Email</a>
						<p><button href="./workinprogress/404" type="button" class="btn btn-default">Follow us on Twitter</button></p>
						<p><button href="./workinprogress/404" type="button" class="btn btn-default">or subscribe to our mailing list</button></p>
					</div>
				</div>
			</div>	
				
		</div><!--/Left Column-->
  
  
		<!-- Center Column -->
		<div class="col-sm-6">
		
			<!-- Alert -->
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<strong>Welcome to NEXT-Grenoble:</strong> <strong>NE</strong>utron and <strong>X</strong>-ray <strong>T</strong>omography in Grenoble
			</div>		
		
			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
					<h2>Premier Niche Markets</h2>
					<p>Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					<ul class="list-inline">
						<li><a href="#">Today</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 2 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 8 Shares</a></li>
					</ul>
				</article>
			</div>
			<hr>
			<div class="row">
				<article class="col-xs-12">
					<h2>Proactively Envisioned</h2>
					<p>Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products. Proactively envisioned multimedia based expertise and cross-media growth strategies.</p>
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					<ul class="list-inline">
						<li><a href="#">Yesterday</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 21 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 36 Shares</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 36 Shares</a></li>
					</ul>
				</article>
			</div>
			<hr>      
			<div class="row">
				<article class="col-xs-12">
					<h2>Completely Synergize</h2>
					<p>Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
					<p><button class="btn btn-default">Read More</button></p>
					<p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
					<ul class="list-inline">
						<li><a href="#">2 Days Ago</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-comment"></span> 12 Comments</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-share"></span> 18 Shares</a></li>
					</ul>
				</article>
			</div>
			<hr>
		</div><!--/Center Column-->


	  <!-- Right Column -->
	  <div class="col-sm-3">

			<!-- Form --> 
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-log-in"></span> 
						Log In
					</h3>
				</div>
				<div class="panel-body">
					<form>
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="uid" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password">
						</div>
						<button type="submit" class="btn btn-default">Log In</button>
					</form>
				</div>
			</div>
 
			<!-- Progress Bars -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-scale"></span> 
						Project advancement
					</h3>
				</div>
				<div class="panel-body">
					<div class="progress">
						<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
						aria-valuemin="0" aria-valuemax="100" style="width:100%">
							100% Experimental area
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80"
						aria-valuemin="0" aria-valuemax="100" style="width:90%">
							90% Mid-res N. detector
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
						aria-valuemin="0" aria-valuemax="100" style="width:45%">
							45% High-res N. detector
						</div>
					</div>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="35"
						aria-valuemin="0" aria-valuemax="100" style="width:35%">
							35% X-ray
						</div>
					</div>
				</div>
			</div>

			<!-- Carousel --> 
 			<h3><span class="glyphicon glyphicon-modal-window"></span> A few applications...</h3>
			<div id="side-carousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#side-carousel" data-slide-to="0" class="active"></li>
					<li data-target="#side-carousel" data-slide-to="1"></li>
					<li data-target="#side-carousel" data-slide-to="2"></li>					
					<li data-target="#side-carousel" data-slide-to="3"></li>
					<li data-target="#side-carousel" data-slide-to="5"></li>					
					<li data-target="#side-carousel" data-slide-to="6"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<a href="#">
						<img class="img-responsive" src="{% static "home/images/permeability.png" %}"alt="" >
						</a>
						<div class="carousel-caption">
							<h3><span style="color: #000000">Permeability in geomaterials</span></h3>
							<p><span style="color: #000000">Neutron imaging is ideal to explore te effect of localisation on permeability of gematerials.</span></p>
				
							
						</div>
					</div>
					<div class="item">
						<a href="#">
						<img class="img-responsive" src="{% static "home/images/fracking.png" %}"alt="" >
						</a>
						<div class="carousel-caption">
							<h3><span style="color: #000000">Hydraulic fracturing</span></h3>
							<p><span style="color: #000000">Neutrons can pass through thick metal casings and are an ideal tool to image water even in thin cracks</span></p>
						</div>
					</div>
					<div class="item">
						<a href="#">
						<img class="img-responsive" src="{% static "home/images/hitemp.png" %}" alt="">
						</a>
						<div class="carousel-caption">
							<h4><span style="color: #000000">Concrete behaviour at high temperatures</span></h4>
							<p><span style="color: #000000">Key aspects of this phenomenon, such as water and gas content are an ideal application of Neutrons.</span></p>
						</div>
					</div>			  
					<div class="item">
						<a href="#">
						<img class="img-responsive" src="{% static "home/images/rebar.png" %}" alt="" >
						</a>
						<div class="carousel-caption">
							<h4>Flow of water along concrete</h4>
							<p>Crucial for the durability of buildings, neutrons can directly and non-detructively observe this phenomenon.</p>

						</div>
					</div>			  
					<div class="item">
						<a href="#">
						<img class="img-responsive" src="{% static "home/images/paper.png" %}" alt="" >
						</a>
						<div class="carousel-caption">
							<h3><span style="color: #000000">Humidity propagation in fibrous media</span></h3>
							<p><span style="color: #000000">Of great interest for paper manifacturing</span></p>

						</div>
					</div>			  
					<div class="item">
						<a href="#">
						<img class="img-responsive" src="{% static "home/images/biofilm.png" %}" alt="" >
						</a>
						<div class="carousel-caption">
							<h3><span style="color: #000000">Bio-fil monitoring in soils</span></h3>
							<p><span style="color: #000000">Of great interest for water filtration</span></p>

						</div>
					</div>			  
				</div>
				<a class="left carousel-control" href="#side-carousel" role="button" data-slide="prev">
				  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				</a>
				<a class="right carousel-control" href="#side-carousel" role="button" data-slide="next">
				  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				</a>
			  </div>

	  </div><!--/Right Column -->

	</div><!--/container-fluid-->


    <!-- jQuery -->
    <script src="{% static "home/js/jquery-1.11.3.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "home/js/bootstrap.min.js" %}"></script>
	
	<!-- IE10 viewport bug workaround -->
	<script src="{% static "home/js/ie10-viewport-bug-workaround.js" %}"></script>
	
	<!-- Placeholder Images -->
	<script src="{% static "home/js/holder.min.js" %}"></script>	


    </body>
    
    

    
